<style>
.image-description {
  display: table;
}

.image-description .image {
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  padding-right: 20px;
}

.image-description .text {
  display: table-cell;
  vertical-align: middle;
}
</style>
