<style>
.image-description {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-description img {
  flex: 0 0 50px;
  margin-right: 20px;
}

.image-description .text {
  flex: 1;
}
</style>
