.person-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.person-image {
  width: 15px; /* Adjust the image width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 20px;
}

.person-description {
  flex: 1;
}
